body{
    background-color: #12171c;
    color: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

article{
    max-width: 900px;
    margin: 0 auto;
    padding-left: 8em;
    padding-right: 15em;
    margin-bottom: 2em;

}

header{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    
}

.header-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}

nav {
    position: absolute;
    top: 30px;;
    left: 60 px;
    width: 45%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 20px 60px;

}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 0.85rem;
    text-align: center;
    transition: color 0.2s ease;
    flex: 1;
}

nav a:hover {
    color: #00b3ff;
}


h1 {
    text-transform: uppercase;
    margin-bottom: 0.2em;
}


h2{
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

footer{
    color: #aaa;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}

p{
    line-height: 1.6;
}

ul{
    margin: 1em 0;
    padding-left: 1.5em;
}

li{
    margin-bottom: 0.5em;
}

a{color: #ebbd05; 
    text-decoration: none; }

a:hover{
    color: #f6dd20;
    text-decoration: none;
}